$myFont: Tahoma, sans-serif;
$mainSize: 36px;
$baseBg: #36383f;
$adjustedBg: adjust-color($baseBg, $red: -25, $green: -25, $blue: -25);

$invisible-div: 3;

//SIZES

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;

@mixin whiteBlack ($col) {
    @if lightness($col) < 50 {
        color: adjust-color($color: $col, $red: 150, $green: 150, $blue: 150);
    } @else {
        color: black;
    }
}

body, html { 
    min-height: 100vh;
    
    font: {
        family: $myFont;
        size: $mainSize;
    }

    background-color: $baseBg;

    overflow: hidden;
    user-select: none;

    a {
        text-decoration: none;

        color: adjust-color($color: $baseBg, $red: 80, $green: 80, $blue: 180);
    }
}

canvas {
    margin-bottom: 10px;
    bottom: 0;

    opacity: 1;

    display: none;

    z-index: $invisible-div - 1;
}

.invisible-div {
    width: 100%;
    height: 100vh;

    position: relative;

    background-color: #00000033;

    z-index: $invisible-div;
}


$warningColor: #dd0000;

.warning-container {

    width: 50%;
    min-height: 33%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: .5em;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 20px;
    background-color: $adjustedBg;
    @include whiteBlack($adjustedBg);

    z-index: $invisible-div + 1;

    div:nth-child(2) {
        flex: 5;
    }


    div:nth-child(2) > div:nth-child(1) {
        margin: .4em;

        display: flex;
        justify-content: center;
        align-items: center;

        color: $warningColor;
        font: {
            size: $mainSize + 6px;
            weight: bold;
        }
    }
}

.warning-close {
    margin: 0 .3em;

    flex: 1;
    display: flex;
    justify-content: right;

    div {
        color: $warningColor;
        font-weight: bold;
    }
}


.bg-anim {
    width: 100%;
    height: 100vh;

    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 0;
}

.bubble-anim {
    width: 100%;
    height: 100vh;

    position: absolute;

    display: none;

    div {
        width: 300px;
        height: 300px;

        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.app {
    width: 100%;
    height: 100vh;
    
    margin: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        display: flex;
        z-index: 2;
        user-select: none;
    }
}

.controls-container {
    min-width: $mobileS - 70px;
    
    justify-content: space-between;
    align-items: center;
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px adjust-color($baseBg, $red: -10, $green: -10, $blue: -10);
    background-color: rgba(red($baseBg) -  10, green($baseBg) -  10, blue($baseBg) -  10,  0.6);
    
    animation: breathe 5s ease-in-out infinite;

    div {
        margin: 1em;
    }
}

@keyframes breathe {
    50% {
        box-shadow: 0px 0px 50px rgb(50, 192, 192);
    }
}

.control {
    width: 130px;
    height: 70px;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-radius: 10px;
    @include whiteBlack($baseBg);
    box-shadow: 0px 0px 10px adjust-color($adjustedBg, $red: -50, $green: -50, $blue: -50);
    background-color: $adjustedBg;
}

.control:hover {
    box-shadow: 0px 0px 10px adjust-color($adjustedBg, $lightness: 20%);
    background-color: adjust-color($color: $adjustedBg, $lightness: 20%);
    color: lighten(rgb(200, 200, 200), 20%);
}

.anim-container {
    width: 100%;
    height: 100vh;

    margin: auto;

    top: 0;
    position: absolute;

    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horizontal-anim {
    width: 100%;
    height: 33vh;

    flex: 1;
    display: flex;
}

.up-anim, .mid-anim, .down-anim {
    width: 100%;

    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

@keyframes fading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fading-reverse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.copyright {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%);

    opacity: 0;

    text-align: center;

    font-size: $mainSize - 12px;

    @include whiteBlack($baseBg);
}

.checkbox {
    position: absolute;
    top: 90%;
    left: 77%;

    font-size: $mainSize - 12px;

    @include whiteBlack($baseBg);

    z-index: $invisible-div;

    button {
        padding: 1em;

        cursor: pointer;

        border: none;
        border-radius: 10px;

        font-size: $mainSize - 12px;

        @include whiteBlack($baseBg);

        box-shadow: 0px 0px 10px adjust-color($adjustedBg, $red: -50, $green: -50, $blue: -50);
        background-color: $adjustedBg;
    }
}


//===== MEDIA QUERIES =====

@media (max-width: 1024px) {
    .controls-container {
        width: 33%;

        flex-direction: column;
    }
}
