$myFont: Tahoma, sans-serif;
$mainSize: 36px;
$baseBg: #36383f;
$adjustedBg: adjust-color($baseBg, $red: -25, $green: -25, $blue: -25);

$invisible-div: 3;

body, html { 
    min-height: 100vh;
    font: {
        family: $myFont;
        size: $mainSize;
    }
    background-color: $baseBg;
    overflow: hidden;
    user-select: none;
}

.invisible-div {
    width: 100%;
    height: 100vh;

    position: relative;

    z-index: $invisible-div;
}

.warning-container {
    width: 50%;
    min-height: 33%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: .5em;

    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 20px;
    background-color: #c7c7c7;

    z-index: $invisible-div + 1;

    div:nth-child(2) {
        flex: 5;
    }


    div:nth-child(2) > div:nth-child(1) {
        margin: .4em;

        display: flex;
        justify-content: center;
        align-items: center;

        color: red;
        font: {
            size: $mainSize + 6px;
            weight: bold;
        }
    }
}

.warning-close {
    margin: 0 .3em;

    flex: 1;
    display: flex;
    justify-content: right;

    div {
        color: red;
        font-weight: bold;
    }
}


.bg-anim {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.bubble-anim {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;

    div {
        width: 300px;
        height: 300px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        display: flex;
        z-index: 2;
        user-select: none;
    }
}

.controls-container {
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px adjust-color($baseBg, $red: -10, $green: -10, $blue: -10);
    background-color: rgba(red($baseBg) -  10, green($baseBg) -  10, blue($baseBg) -  10,  0.6);
    animation: breathe 5s ease-in-out infinite;

    div {
        margin: 1em;
    }
}

@keyframes breathe {
    50% {
        box-shadow: 0px 0px 50px adjust-color($baseBg, $red: 40, $green: 40, $blue: 40);
    }
}

@mixin whiteBlack ($col) {
    @if lightness($col) < 50 {
        color: adjust-color($color: $col, $red: 150, $green: 150, $blue: 150);
    } @else {
        color: black;
    }
}

.control {
    width: 110px;
    height: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    @include whiteBlack($baseBg);
    box-shadow: 0px 0px 10px adjust-color($adjustedBg, $red: -50, $green: -50, $blue: -50);
    background-color: $adjustedBg;
}

.control:hover {
    box-shadow: 0px 0px 10px adjust-color($adjustedBg, $lightness: 20%);
    background-color: adjust-color($color: $adjustedBg, $lightness: 20%);
    color: lighten(rgb(200, 200, 200), 20%);
}

.anim-container {
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.horizontal-anim {
    width: 100%;
    height: 33vh;
    flex: 1;
    display: flex;
}

.up-anim, .mid-anim, .down-anim {
    width: 100%;
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@keyframes fading {
    100% {
        opacity: 0;
    }
}
